<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TaskPanel | Home</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
  <link rel="stylesheet" href="/dist/css/skins/skin-blue.min.css">
  <!--Bootstrap datepicker -->
  <link rel="stylesheet" href="/assets/css/jquery-ui.css">
  <link rel="stylesheet" href="/assets/css/chardinjs.css">
  

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"> 
        
  <style>
    
    .chardinjs-helper-layer.chardinjs-left{
      border-left: 0
    }
    
  </style>
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">T<b>P</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Task<b>Panel</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            
            <ul class="dropdown-menu">
              <li class="header">You have 0 messages</li>
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="{req.user.facebook.picture}" class="img-circle" alt="User Image">
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <!-- The message -->
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
                <!-- /.menu -->
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- /.messages-menu -->
          <!--
          <!-- Notifications Menu 
          <li class="dropdown notifications-menu"> 
            <!-- Menu toggle button
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- Inner Menu: contains the notifications 
                <ul class="menu">
                  <li><!-- start notification 
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <!-- end notification 
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks Menu -->
          <li class="dropdown tasks-menu">
            <!-- Menu Toggle Button -->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a> -->
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- Inner menu: contains the tasks -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="{{pic}}" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{user.name}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="{{pic}}" class="img-circle" alt="User Image">

                <p>
                  {{user.name}}
                  
                </p>
              </li>
              <!-- Menu Body 
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div> 
                </div> -->
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <!-- <a href="#" class="btn btn-default btn-flat">Profile</a> -->
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <!--SIDEBAR GEARS.
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{pic}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{user.name}}</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="#"><i class="fa fa-columns"></i> <span>Your Board</span></a></li>
        <!--<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li> -->
        <!--<li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li> -->
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 style="padding-bottom: 5px">
        Your Board
        <small></small>
      </h1>
      <div id="subjectList"><span class="label" style="background-color: black; cursor: pointer" data-toggle="modal" data-target="#modal-subject" data-intro="Add a subject to automatically color-code your tasks." data-position="bottom">+Add Subject</span>  <span class="label" style="background-color: black; cursor: pointer" data-toggle="modal" data-target="#modal-remove-subject" data-intro="click here to delete one of your subjects" data-position="right">-Remove Subject</span></div>
      <ol class="breadcrumb" data-intro="Click here if you want to see this screen again." data-position="left">
        <button id="helpMe" class="btn btn-primary"><i class="fa fa-question-circle" aria-hidden="true" ></i></button>
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Your Board</a></li> -->
        <!-- <li class="active">Here</li> -->
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row" style="">
        <div class="col-md-3">
          <div class="box box-default">
            <div class="box-header with-border" data-intro="Click on the '+' icon to add a task to your to-do list." data-position="right">
              <i class="fa fa-list"></i>

              <h3 class="box-title" >To-Do</h3>  <i type="button" id="modalIcon" data-toggle="modal" data-target="#modal-default" class="fa fa-plus" aria-hidden="true" style="float:right; color: #00FF00; cursor: pointer" ></i>
            </div>
            <!-- /.box-header -->
            <ul id="list1" class="box-body connected" style="height: 60rem; overflow-y: scroll">
            </ul>
            <!-- /.box-body -->
          </div>
          
        </div>
        
        <div class="col-md-3">
          <div class="box box-default">
            <div class="box-header with-border">
              <i class="fa fa-calendar-times-o"></i>

              <h3 class="box-title">Do today</h3>
            </div>
            <!-- /.box-header -->
            <ul id="list2" class="box-body connected" style="height: 60rem; overflow-y: scroll">
            </ul>
            <!-- /.box-body -->
          </div>
          
        </div>
        
      <div class="col-md-3">
          <div class="box box-default">
            <div class="box-header with-border">
              <i class="fa fa-hourglass-half"></i>

              <h3 class="box-title">In progress</h3>
            </div>
            <!-- /.box-header -->
            <ul id="list3" class="box-body connected" style="height: 60rem; overflow-y: scroll">
            </ul>
            <!-- /.box-body -->
          </div>
          
      </div>
      
      <div class="col-md-3">
          <div class="box box-default">
            <div class="box-header with-border">
              <i class="fa fa-check"></i>

              <h3 class="box-title">Done!</h3>
            </div>
            <!-- /.box-header -->
            <ul id="list4" class="box-body connected" style="height: 60rem; overflow-y: scroll">
            </ul>
            <!-- /.box-body -->
          </div>
          
      </div>
        
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer" data-intro="Click anywhere to close the help screen." data-position="top">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Created by <a href="https://twitter.com/MYKatz01">Matt Katz</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">TaskPanel</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p> 
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="/assets/js/touchpunch.js"></script>
<script src="/assets/js/chardin.js"></script>
<!-- BOOTSTRAP DATEPICKER -->
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
<script>
  $("#helpMe").on("click", function(){
    $('body').chardinJs('start');
  });


  $(document).ready(function(){
    
     $('body').chardinJs('start');
  });
  
  var subjects = [];
  
  $(document).on("click", ".removeButton", function(){
    $.post("/api/remove", {"id": $(this).parent().attr("id")});
    $(this).parent().fadeOut(200);
  });
  
  function addNew(obj){
    //Add color to this later.
    var result = [];
    result = $.grep(subjects, function(e){ return e.subject == obj.subject; });
    var color = "";
    if(result[0]){
          var color = result[0].color || "#d2d6de";
        }
        else{
          var color = "#d2d6de";
    }
    
    
    var due = "";
    if(obj.due){
          due = htmlencode("Due: " + obj.due.toISOString().substring(0,10) || "");
        }
    
    var toAdd = '<div class="box box-default" id="'+""+'" style="border-top-color:'+color +'"><div class="box-body" style="padding-bottom: 0">'+htmlencode(obj.body)+'</div>'+'<span style=" font-size: 1.1rem; ">'+due+'</span>'+'<i type="button" class="fa fa-minus removeButton" aria-hidden="true" style="float:right; color: #FF0000; cursor: pointer; bottom: 0; right: 0; position: absolute;"></i></div>'+'</div>';
    $("#list"+(obj.column+1)).append(toAdd);  
    
    $("#inputTask").val("");
    $("#inputDate").val("");
    $("#inputSubject").val("misc");
  }
  
  function update(id, place){
    $.post("/api/update", {"id": id, "place": place});
  }

  //function upload(array){
    //$.post("/api/set", {"a":array});
  //}

  $( function() {
    $( "#list1, #list2, #list3, #list4" ).sortable({
      connectWith: ".connected"
    }).disableSelection();
  } );
  
  $( "#list1, #list2, #list3, #list4" ).on( "sortreceive", function(event, ui){
    var id = ui.item.attr('id');
    console.log(ui.item.closest("ul").attr('id'));
    $.post("/api/move",{"id": id, "newCol": ui.item.closest("ul").attr('id').substr(4)});
    
  });
  


  $(document).on("click", "#addNewTask", function(){
    if($("#inputTask").val() != ""){
      var obj = {
        column : 0,
        body: $("#inputTask").val(),
        subject: $("#inputSubject").val(),
        due: new Date($("#inputDate").val())
      
      }
      addNew(obj);
      //$("#inputTask").val("");
      //$("#inputSubject").val("");
      //$("#inputDate").val("");
      
    }
  });
  
  $(document).on("click", "#addNewSubject", function(){
    if($("#inputSName").val() != ""){
      var obj = {
        subject: $("#inputSName").val(),
        color: $("#inputColor").val()
      }
      subjects.push(obj);
      //location.reload(true);
    }
    $("#subjectList").html('<span class="label" style="background-color: black; cursor: pointer" data-toggle="modal" data-target="#modal-subject" data-intro="Add a subject to automatically color-code your tasks." data-position="bottom">+Add Subject</span>  <span class="label" style="background-color: black; cursor: pointer" data-toggle="modal" data-target="#modal-remove-subject" data-intro="click here to delete one of your subjects" data-position="right">-Remove Subject</span>');
    $("#inputSubject").html('<option value="misc">misc</option>');
    $("#subjectRemoveSubject").html('<option value="misc">misc</option>');
    $("#inputSName").val("");
    $("#inputColor").val("");
    for(var i=0;i<subjects.length;i++){
      if(typeof subjects[i] === 'object'){
        $("#subjectList").prepend('<span class="label" style="margin: 0 3px 0 3px; background-color:'+ subjects[i].color + '">' + subjects[i].subject + '</span>');
        $("#inputSubject").append('<option value="'+subjects[i].subject+'">'+subjects[i].subject+'</option>');
        $("#inputRemoveSubject").append('<option value="'+subjects[i].subject+'">'+subjects[i].subject+'</option>')
      }
    }
  });
  
  $(document).on("click", "#removeSubject", function(){
    if($("#inputRemoveSubject").val() != ""){
      $.post("/api/removesubject", {subject: $("#inputRemoveSubject").val()});
      location.reload();
    }
  });
  
  $( function() {
    $( "#inputDate" ).datepicker();
  } );
  
  
  
  $(document).on("keypress", '#inputTask', function(e) {
        
        if (e.keyCode == 13) {
            $("#modalIcon").trigger("click");
            if($("#inputTask").val() != ""){
              var obj = {
                column : 0,
                body: $("#inputTask").val(),
                subject: $("#inputSubject").val(),
                due: new Date($("#inputDate").val())
              
              }
                addNew(obj);
                $("#inputTask").val("");
                $("#inputSubject").val("");
                $("#inputDate").val("");
            }
        }
});
/*
  $.getJSO("/api/getsubjects", function(data){
    var subjects = [];
    console.log(typeof data);
    console.log(data);
    for(var i=0;i<data.length;i++){
      if(typeof data[i] === 'object'){
        $("#subjectList").prepend('<span class="label" style="margin: 0 3px 0 3px; background-color:'+ data[i].color + '">' + data[i].subject + '</span>');
        subjects.push(data[i]);
        $("#inputSubject").append('<option value="'+data[i].subject+'">'+data[i].subject+'</option>');
        $("#inputRemoveSubject").append('<option value="'+data[i].subject+'">'+data[i].subject+'</option>')
      }
    }
    $.get("/api/get", function(data){
      var boi = data;
      console.log(subjects);
      for(var i = 0; i<boi.length;i++){
        console.log(boi[i].subject);
        var result = $.grep(subjects, function(e){ return e.subject == boi[i].subject; });
        console.log(JSON.stringify(result));
        if(result[0]){
          var color = result[0].color || "#d2d6de";
        }
        else{
          var color = "#d2d6de";
        }
        var due = "";
        if(boi[i].due){
          due = htmlencode("Due: " + boi[i].due.substring(0,10) || "");
        }
        var toAdd = '<div class="box box-default" id="'+boi[i]._id+'" style="border-top-color:'+color +'"><div class="box-body" style="padding-bottom: 0">'+htmlencode(boi[i].body)+'</div>'+'<span style=" font-size: 1.1rem; ">'+due+'</span>'+'<i type="button" class="fa fa-minus removeButton" aria-hidden="true" style="float:right; color: #FF0000; cursor: pointer; bottom: 0; right: 0; position: absolute;"></i></div>'+'</div>';
        $("#list"+(boi[i].column+1)).append(toAdd);
        
      }
    });
  });
*/  
  
  //sanitize inputs (not necessarily needed but whateva)
  function htmlencode(str) {
    return str.replace(/[&<>"']/g, function($0) {
        return "&" + {"&":"amp", "<":"lt", ">":"gt", '"':"quot", "'":"#39"}[$0] + ";";
    });
}
  
</script>

<div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add a new task</h4>
              </div>
              <div class="modal-body">
                <div>
              <div class="box-body">
                <div class="form-group">
                  <label for="inputTitle" class="col-sm-2 control-label">Task:</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputTask" placeholder="Read chapter 3">
                  </div>
                </div> <br />
                
                <div class="form-group">
                  <label for="inputTitle" class="col-sm-2 control-label">Subject:</label>

                  <div class="col-sm-10">
                    <select type="select" class="form-control" id="inputSubject">
                      <option value="misc">misc</option>
                    </select>
                  </div>
                </div> <br />
                
                <div class="form-group">
                  <label for="inputTitle" class="col-sm-2 control-label">Date due:</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputDate" placeholder="">
                  </div>
                </div>
                
              </div>
              
            </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="addNewTask" type="button" class="btn btn-primary" data-dismiss="modal">Add Task</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        
<div class="modal fade" id="modal-subject">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add a new Subject</h4>
              </div>
              <div class="modal-body">
                <div>
              <div class="box-body">
                 <br />
                
                <div class="form-group">
                  <label for="inputTitle" class="col-sm-2 control-label">Name:</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputSName" placeholder="English">
                  </div>
                </div> <br />
                
                <div class="form-group">
                  <label for="inputTitle" class="col-sm-2 control-label">Color:</label>

                  <div class="col-sm-10">
                    <input type="color" class="form-control" id="inputColor" placeholder="">
                  </div>
                </div>
                
              </div>
              
            </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="addNewSubject" type="button" class="btn btn-primary" data-dismiss="modal">Add Subject</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
<div class="modal fade" id="modal-remove-subject">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Remove Subject</h4>
              </div>
              <div class="modal-body">
                <div>
              <div class="box-body">
                 <br />
                
                <label for="inputTitle" class="col-sm-2 control-label">Subject:</label>

                  <div class="col-sm-10">
                    <select type="select" class="form-control" id="inputRemoveSubject">
                      
                    </select>
                  </div>
                
                
                
              </div>
              
            </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="removeSubject" type="button" class="btn btn-primary" data-dismiss="modal">Remove Subject</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>


</body>
</html>
